<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="movie">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
  
  <h1>{{ movie.title }}</h1>
  <p>{{ movie.overview }}</p>

  <h3>Cast</h3>
  <ion-list>
    <ion-item *ngFor="let person of credits.slice(0, 10)" [routerLink]="['/person-details', person.id]">
      <ion-label>
        <h2>{{ person.name }}</h2>
        <p>{{ person.character }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>