<!-- Copied from home.page.html, also from Ionic Framework www.ionicframework.com/docs/-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="favouriteMovies.length === 0" class="ion-text-center">
    <p>Add some favourites from the home page!</p>
  </div>

  <ion-card *ngFor="let movie of favouriteMovies">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" />
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>
</ion-content>